# Antes de empezar :
   - Estos ejercicios están relacionados con las lecciones Subconjunto y Estadísticas descriptivas.
   - Tenga en cuenta que necesitará utilizar algunas de las funciones que aprendió en las lecciones anteriores.
   - Todos los conjuntos de datos se proporcionan en la carpeta `your-code` de este laboratorio.
   - Elabora tus códigos y resultados tanto como puedas.
   - Esfuérzate al máximo para responder a las preguntas y completar las tareas y, sobre todo, ¡¡¡disfruta del proceso!!!

#### Importa todas las librerías necesarias

In [68]:
# import libraries here
import csv
import pandas as pd
import numpy as np

# Desafío 1

#### En este reto utilizaremos el archivo `Temp_States.csv`. 

#### Primero impórtalo en un marco de datos llamado `temp`.

In [69]:
# YOUR CODE HERE
temp = pd.read_csv("Temp_States.csv")

#### Print `temp`

In [70]:
# your solution here
temp

         City        State  Temperature
0         NYC     New York    19.444444
1      Albany     New York     9.444444
2     Buffalo     New York     3.333333
3    Hartford  Connecticut    17.222222
4  Bridgeport  Connecticut    14.444444
5      Treton   New Jersey    22.222222
6      Newark   New Jersey    20.000000

#### Explore los tipos de datos del marco de datos Temp. ¿Qué tipo de datos tenemos? Comenta tu resultado.

In [71]:
# YOUR CODE HERE
temp.dtypes

City            object
State           object
Temperature    float64
dtype: object

#### Selecciona las filas en las que el estado es New York

In [72]:
# YOUR CODE HERE
subset = df[df["State"] == "New York"]
subset

      City     State  Temperature
0      NYC  New York    19.444444
1   Albany  New York     9.444444
2  Buffalo  New York     3.333333

#### ¿Cuál es la temperatura media de las ciudades de Nueva York?

In [73]:
# YOUR CODE HERE
np.mean(subset["Temperature"])

10.74074074074074

#### Queremos conocer las ciudades y estados con temperaturas superiores a 15 grados centígrados.

In [74]:
# your answer here
subset2 = df[df["Temperature"] >15]
subset2[["City", "State"]]

       City        State
0       NYC     New York
3  Hartford  Connecticut
5    Treton   New Jersey
6    Newark   New Jersey

#### Ahora, devuelva sólo las ciudades que tengan una temperatura superior a 15 grados centígrados.

In [75]:
# YOUR CODE HERE
subset2 = df[df["Temperature"] >15]
subset2[["City"]]

       City
0       NYC
3  Hartford
5    Treton
6    Newark

#### Queremos saber qué ciudades tienen una temperatura superior a 15 grados Celcius e inferior a 20 grados Celcius

*Pista: Primero escriba la condición y luego seleccione las filas.

In [76]:
# YOUR CODE HERE
# your answer here
subset3 = df[(df["Temperature"] >15) & (df["Temperature"] <20)]
subset3[["City"]]

       City
0       NYC
3  Hartford

In [77]:
temp['State'].value_counts()

State
New York       3
Connecticut    2
New Jersey     2
Name: count, dtype: int64

#### Halla la media y la desviación estándar de la temperatura de cada estado.

*Pista: Utiliza las funciones de la lección Manipulación de datos*.

In [79]:
# YOUR CODE HERE
mean_temp = grouped["Temperature"].mean()
mean_temp

State
Connecticut    15.833333
New Jersey     21.111111
New York       10.740741
Name: Temperature, dtype: float64

# Desafío 2

#### Cargar el fichero `employee.csv` en un DataFrame. Llama al dataframe `employee`.

In [80]:
# YOUR CODE HERE
employee = pd.read_csv("Employee.csv")

#### Explore los tipos de datos del marco de datos Temp. Comenta tus resultados

In [82]:
# YOUR CODE HERE
employee.dtypes

Name          object
Department    object
Education     object
Gender        object
Title         object
Years          int64
Salary         int64
dtype: object

#### Muestre visualmente la distribución de frecuencias (histograma) del conjunto de datos de empleados. Describa en pocas palabras estos histogramas.

In [ ]:
# your answer here

In [ ]:
# YOUR CODE HERE

In [ ]:
# YOUR CODE HERE

#### ¿Cuál es el salario medio en esta empresa?

In [ ]:
# YOUR CODE HERE

#### ¿Cuál es el salario más alto?

In [ ]:
# YOUR CODE HERE

#### ¿Cuál es el salario más bajo?

In [ ]:
# YOUR CODE HERE

#### ¿Quiénes son los empleados con el salario más bajo?

In [ ]:
# YOUR CODE HERE

#### ¿Podría darnos toda la información sobre un empleado llamado David?

In [ ]:
# YOUR CODE HERE

#### ¿Podría dar sólo el sueldo de David?

In [ ]:
# YOUR CODE HERE

#### Printea todas las líneas en las que el cargo es asociado

In [ ]:
# YOUR CODE HERE

#### Printea las 3 primeras filas de tu dataframe

##### Consejo : Hay 2 maneras de hacerlo. Hazlo de las dos maneras

In [ ]:
# YOUR CODE HERE

In [ ]:
# YOUR CODE HERE

#### ¿Encuentra a los empleados cuyo cargo es asociado y cuyo salario es superior a 55?

In [ ]:
# YOUR CODE HERE

#### Agrupa a los empleados en función del número de años que llevan trabajando. ¿Cuáles son los salarios medios de cada grupo?

In [ ]:
# YOUR CODE HERE

#### ¿Cuál es el salario medio por título?

In [ ]:
# YOUR CODE HERE

#### Muestra un resumen visual de los datos utilizando boxplot. ¿Cuáles son los cuartiles primero y tercero? Comenta tus resultados.

* Pista : Cuantiles vs Cuartiles*.
En Probabilidad y Estadística, los cuantiles son puntos de corte que dividen el rango de una distribución de probabilidad en intervalos continuos con probabilidades iguales. Cuando la división es en cuatro partes, los valores de la variable correspondientes al 25%, 50% y 75% de la distribución total se denominan cuartiles.

In [ ]:
# YOUR CODE HERE

In [ ]:
# print first quartile here

In [ ]:
# print third quartile here

#### ¿Es diferente el salario medio por género?

In [ ]:
# your answer here

#### Encuentra el mínimo, la media y el máximo de todas las columnas numéricas para cada Departamento.

##### Sugerencia: Utiliza las funciones de la lección Manipulación de Datos

In [ ]:
# your answer here

### Pregunta bonus

#### Para cada departamento, calcule la diferencia entre el salario máximo y el salario mínimo.

##### * Sugerencia: pruebe a utilizar `agg` o `apply` y `lambda`*.

In [ ]:
# your answer here

# Desafío 3

#### Abra el conjunto de datos Orders.csv. Nombre el conjunto de datos pedidos

In [ ]:
# your answer here

#### Explore su conjunto de datos observando los tipos de datos y las estadísticas de resumen. Comenta tus resultados

In [ ]:
# your answer here

In [ ]:
# your answer here

#### ¿Cuál es el precio medio de compra?

In [ ]:
# your answer here

#### ¿Cuáles fueron los precios de compra más altos y más bajos?

In [ ]:
# your answer here

In [ ]:
# your answer here

#### Seleccione todos los clientes que tenemos en España

In [ ]:
# your answer here

#### ¿Cuántos clientes tenemos en España?
##### Pista : Utiliza value_counts()

In [ ]:
# your answer here

#### Selecciona todos los clientes que han comprado más de 50 artículos ?

In [ ]:
# your answer here

#### Selecciona pedidos de España superiores a 50 artículos

In [ ]:
# your answer here

#### Seleccionar todos los pedidos gratuitos

In [ ]:
# your answer here

#### Seleccionar todos los pedidos que sean 'lunch bag
#### Pista: Utilice las funciones de cadena

In [ ]:
# your answer here

#### Seleccione todos los pedidos realizados en 2011 y que sean «lunch bag».

In [ ]:
# your answer here

#### Muestra la distribución de frecuencias del importe gastado en España.

In [ ]:
# your answer here

#### Seleccione todos los pedidos realizados en el mes de agosto

In [ ]:
# your answer here

#### Seleccione cuántos pedidos se realizan por países en el mes de agosto
##### Pista: Utilice value_counts()

In [ ]:
# your answer here

#### ¿Cuál es el gasto medio por país?

In [ ]:
# your answer here

#### ¿Cuál es el artículo más caro?

In [ ]:
# your answer here

#### ¿Cuál fue la cantidad media gastada al año?

In [ ]:
# your answer here